body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  background-color: wheat;
  text-align: center;
  color: royalblue;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 36px;
  margin: 20px 0;
}

p {
  font-family: Arial, sans-serif;
  color: peru;
  font-size: 20px;
  margin: 20px 0;
}

table {
  font-family: Arial, sans-serif;
  font-size: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  width: 40%;
}

th,
td {
  border: 2px solid olivedrab;
  padding: 8px;
  text-align: left;
}

form {
  margin: 20px auto;
  width: 50%;
  text-align: left;
}

input[type="text"],
input[type="number"],
input[type="button"],
input[type="submit"],
.button {
  width: 200px; /* Change the width to a fixed value */
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid rosybrown;
  border-radius: 4px;
}

input[type="text"],
input[type="number"] {
  display: block;
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin: 8px 0;
  width: calc(50% - 4px);
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

input[type="button"],
input[type="submit"],
.button {
  font-size: 20px;
  background-color: antiquewhite;
  color: darkgreen;
  cursor: pointer;
}

input[type="button"]:hover,
input[type="submit"]:hover,
.button:hover {
  background-color: gold;
  color: #333;
}

nav {
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
}

nav a {
  color: olivedrab;
  text-decoration: none;
  padding: 20px;
}

nav a:hover {
  background-color: gold;
  color: #333;
}

.currency-container {
  display: flex;
  flex-wrap: wrap;
}

.currency-option {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.currency-option input {
  margin-right: 5px;
}
